.App-header {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #d73953;
}
.App-header img {
  height: 300px;
}
.App-header h1 {
  font-size: 48px;
  color: #d73953;
}

.App-body {
  font-size: 27px;
  margin: 50px;
  min-height: 40vh;
}

.App-footer {
  border-top: 5px solid #d73953;
  font-style: italic;
  text-align: center;
  font-size: 27px;
}
