.App-footer {
    height: 5%;
    border-top: 3px solid #e0354b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .App-footer p {
    margin: 0;
  }